@{
    ViewData["Title"] = "BoomSosed Control Page";
}

<h1>BoomSosed control page</h1>

<style>
    body {
        background-color: dimgray;
        color: white;
    }
    
    nav, header, navbar {
        background-color: inherit;
        color: inherit;
    }
    
    
</style>

<br>
<img src="~/images/myboomsosednet_screen.jpg" />

