@model WebAppMVC.Controllers.MyDailyJournalController.DataToView

<div class="container p-3">
	<h1 class="text-primary ">Мой ежедневник</h1>
</div>
<br>

<div class="col-4">
	<a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-step-backward"></i> Назад</a>
</div>

<br>


<ul id="myList" class="list-group">
	<!-- Список будет заполнен JavaScript -->
</ul>


@{
    <div class="container-fluid mt-4">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-sm align-middle shadow-sm rounded">
                <thead class="table-success text-center">
                    <tr>
                        <th scope="col" class="py-3">
                            <i class="bi bi-calendar3 me-1"></i>Дата изменения
                        </th>
                        <th scope="col" class="py-3">
                            <i class="bi bi-gear me-1"></i>Тип изменения
                        </th>
                        <th scope="col" class="py-3">
                            <i class="bi bi-file-earmark-text me-1"></i>Новое значение
                        </th>
                        <th scope="col" class="py-3">
                            <i class="bi bi-person me-1"></i>User Id
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(LogTableModel i in Model._LogTableModelEnumerator)
                    {
                        <tr class="align-middle">
                            <td class="text-nowrap fw-medium">
                                @i.CreatedDateTime.ToString( "dd.MM.yyyy HH:mm:ss" )
                            </td>
                            <td>
                                @{
                                    var badgeClass = i.TypeStr switch
                                    {
                                        "Update" => "bg-primary",
                                        "Delete" => "bg-danger",
                                        "Create" => "bg-success",
                                        _ => "bg-secondary"
                                    };
                                }
                                <span class="badge @badgeClass rounded-pill px-2 py-1">@i.TypeStr</span>
                            </td>
                            <td class="text-break">@Html.Raw( i.Message )</td>
                            <td class="fw-semibold text-muted">
                                @i.CreatedByUserId
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if(!Model._LogTableModelEnumerator.Any())
        {
            <div class="text-center text-muted py-4">
                <i class="bi bi-inbox fs-1 mb-2"></i>
                <p class="mb-0">Нет записей для отображения.</p>
            </div>
        }
    </div>

}


@section Scripts {
	<script>

		$(document).ready(function() {
			$('.summernote').summernote({
				height: 100
			});

		});

	</script>
}
