@model WebAppMVC_Models.MyDailyJournalModel

<div class="container p-3">
	<h1 class="text-primary ">Мой ежедневник</h1>
</div>

<br>


<div class="table shadow ">
	<div class="text-center caption-top col-4">
		<b>Просмотр дополнительной информации о записи<b>
	</div>
	<div id="id0001" class="col-4">
		<b>Дата создания  :</b> @this.Model.CreatedDateTime
	</div>
	<div id="id0002" class="col-4">
		<b>Дата изменения :</b>	@this.Model.ModifiedDateTime
	</div>
	<div class="col-4">
		<a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-step-backward"></i> Назад</a>
	</div>

<br>


<ul id="myList" class="list-group">
	<!-- Список будет заполнен JavaScript -->
</ul>

@section Scripts {
    <script>
        function updateElementText(elementId, newText) 
		{
			document.getElementById( elementId ).innerText = newText + " " + document.getElementById( elementId ).innerText;
        }

		updateElementText("id0001", " - ");
		updateElementText("id0002", " - ");


		function initializeList() 
		{
			const list = document.getElementById('myList');
			list.innerHTML = ''; // Очищаем список (если нужно)

			for(i = 1; i<100; i++)
			{
				document.write(i+";");
				const li = document.createElement('li');
				li.classList.add('list-group-item');
				li.textContent = i;
				list.appendChild(li);
			}
		}

		//initializeList();

	</script>
}