@model WebAppMVC.Controllers.MyDailyJournalController.DataToView

<div class="container p-3">
	<h1 class="text-primary ">Мой ежедневник</h1>
</div>
<br>

<div class="col-4">
	<a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-step-backward"></i> Назад</a>
</div>

<br>


<ul id="myList" class="list-group">
	<!-- Список будет заполнен JavaScript -->
</ul>


@{
    <table class="table table-bordered table-hover table-sm align-middle shadow-sm mt-3">
        <thead class="table-success text-center">
            <tr>
                <th>Дата изменения</th>
                <th>Тип изменения</th>
                <th>Новое значение</th>
            </tr>
        </thead>
        <tbody>
            @foreach (LogTableModel i in Model._LogTableModelEnumerator)
	        {
                <tr>
                    <td class="text-nowrap">@i.CreatedDateTime.ToString("dd.MM.yyyy HH:mm:ss")</td>
                    <td>@i.TypeStr</td>
                    <td>@Html.Raw(i.Message)</td>
                </tr>
	        }
        </tbody>
    </table>

}


@section Scripts {
	<script>

		$(document).ready(function() {
			$('.summernote').summernote({
				height: 100
			});

		});

	</script>
}
